.author img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid #e5eaee;
}
.author {
    vertical-align: middle;
    margin: 10px auto;
    text-align: center;
}

.bottom-article{
    background-color: #eeeeee;
    height: 50px;
    bottom: 0;
    /*position: absolute;*/
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
}
.post-preview{
    /*height: 460px;*/
}
.post-preview h3{
    /*border-left: 3px groove #418cce;*/
    /*padding-left: 25px;*/

}
.post-preview img.rounded{
    width: 100%;
    height: auto;
}
.row{
    margin: 20px 0;
}
