html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.author img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 4px double #e5eaee;
}

.author {
    vertical-align: middle;
    margin: 10px auto;
    text-align: center;
}

.bottom-article {
    background-color: #eeeeee;
    height: 50px;
    bottom: 0;
    /*position: absolute;*/
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
}

.post-preview {
    /*height: 460px;*/
}

.post-preview h3 {
    text-align: center;
    margin: 10px;
    font-size: 21px;
}

.post-preview img.rounded {
    width: 100%;
    height: auto;
}

.row {
    margin: 20px 0;
}

.footer {
    color: #ccc;
    height: 60px;
    line-height: 60px;
}

.jumbotron {
    background-image: url("../images/ws_Mountain_View_1366x768.jpg");
    background-repeat: no-repeat;
    background-position: 4% -157px;
    height: 300px;
    color: white;
    margin-bottom: 0;
}

@media screen and (min-width: 1370px) {
    .jumbotron {
        background-image: none;
        color: #1d2124;
    }
}

.grey-bg, .grey-bg .main-content-wrapper {
    background: #e9e9fc;
}

.grey-bg .row .post-preview {
    margin: 15px 0;
    background: white;
    border-radius: 5px;
    border: 1px solid #d4d4e6;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}